<%= link_to 'Войти', new_courier_profile_session_path ,  :class => 'btn btn-success'%> или <%= link_to 'Зарегистрироваться', new_courier_profile_registration_path,  :class => 'btn btn-warning' %>

<%= link_to 'Выйти', destroy_courier_profile_session_path, :method => :delete ,  :class => 'btn btn-success'%>
